{% extends 'rango/base.html' %}

{% load static %}

{% block body_block %}
    <div class="hero-unit">

    <h1>Login to Rango</h1>

    <div class="container">

    <form class="form-signin span4" id="login_form" method="post" action="/rango/login/">
        <h2 class="form-signin-heading">Please sign in</h2>
        {% csrf_token %}

        {% if bad_details %}
            <p><strong>Your username and/or password were incorrect!</strong></p>
        {% elif disabled_account %}
            <p><strong>Your account has been disabled</strong></p>
        {% endif %}

        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />

        <button  class="btn btn-primary" type="submit">Sign in</button>
    </form>

    </div>
</div>
{% endblock %}